body {
    margin: 0px;
    padding: 0px;
    flex-shrink: 0;
}
.toph {
    display: flex;
    background-color: #1f2937;
    font-family: roboto;
    src: url(roboto-black.ttf) format("truetype");
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 16px;
    margin-bottom: -10px;
    flex-shrink: 0;
}
.logo {
    margin-left: 128px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;

}

.links {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 48px;
    gap: 16px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration-style: none;
    text-decoration: none;
    color: inherit;
}

.linky {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: inherit;
    margin-right: 108px;
    font-weight: 100px;
}

.mcon {
    display: flex;
    background-color: #1f2937;
    padding: 129px;
    justify-content: space-between;
    /* border: 10px solid red; */
    align-content: center;
    align-self: center;
    margin: 0;
    flex-shrink: 0;
    
}

.header1 {
    color: #f9faf8;
    font-size: 36px;
    font-family: roboto;
    font-weight: 700;
    src: url(roboto-black.ttf) format("truetype");
    justify-content: flex-start;   
    flex-shrink: 0;
    /* border: 10px solid red; */
}
.pody1 {
    justify-content: flex-start;
    font-family: roboto;
    font-weight: 100;
    src: url(roboto-black.ttf) format("truetype");
    color: #f9faf8;
    flex-shrink: 0;
    /* border: 10px solid red; */
}

.pic1 { 
 display: flex;
 height: auto;
 width: 400px;
 justify-content: flex-end;
 align-items: center;
 align-content: center;
 /* border: 10px solid red; */
 flex-direction: row;
 margin-right: 45px;
 box-shadow: 1px solid black;
 flex-shrink: 0;
}

.words {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    margin-left: 24px;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
}

.sign-up {
    display: flex;
    padding: 6px 8px 8px 6px;
    background-color: #3882F6;
    width: 100px;
    font-family: roboto;
    font-weight: 700;
    color: #e5e7eb;
    border-radius: 8px;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    flex-shrink: 0;
    margin-right: 42px;
}

.wcon {
    display: flex;
    background-color: #f9faf8;
    margin-bottom: 0px;
    padding: 100px;
    padding-bottom: 10px;
    justify-content: space-around;
    flex-shrink: 0;

}


.ccc {
    display: flex;
    justify-content: space-around;
    gap: 48px;
    flex-shrink: 0;
    /* border: 1px solid red; */

}


.card {
    display: flex;
    border: 5px solid #3882F6;
    background-color: none;
    width: 200px;
    height: 200px;
    gap: 48px;
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.wconh {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    background-color: #f9faf8;
    padding-bottom: 0px;
}

.concon {
    font-family: roboto;
    font-weight: 700;
    font-size: 40px;
    color: #1f2937;
    padding-top: 64px;
}

.wordz {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-content: center;
    flex-direction: row;
   /* border: 1px solid red;*/
   background-color: #f9faf8;
   padding: 0px 200px 100px 200px;
}

.txt {
    /* border: 1px solid red; */
    font-family: roboto;
    font-weight: 200;
    color:#1f2937;
}

.gcon {
    display: flex;
    background-color: #e5e7eb;
    padding: 200px 100px 50px 200px;

}
.para {
    display: flex;
    font-family: roboto;
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
}

.from {
    display: flex;
    justify-content: flex-end;
    background-color: #e5e7eb;
    padding-right: 100px;
    padding-bottom: 100px;
    font-family: roboto;
    font-style: italic;
    font-weight: 100;
    font-size: 20px;

}

.lastcon {
    display: flex;
    justify-content: center;
    background-color: #f9faf8;
    padding: 125px 200px 125px 200px;
   /* border: 1px solid red; */
    flex-shrink: 0;
    flex-grow: 0;
}

.bluecon {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 225px 50px 225px;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

.call {
    display: flex;
    font-family: roboto;
    font-weight: 500;
    font-size: 25px;
    color:#f9faf8;
    /* border: 1px solid red;*/
    justify-content: center;
}

.signnn {
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-style: italic;
    font-weight: 100;
    color: #f9faf8;
    padding-top: 5px;
   /* border: 1px solid red; */
}

.sss {
    display: flex;
    background-color: #3882F6;
    border:3px solid #f9faf8;
    border-radius: 8px;
    font-family: roboto;
    font-weight: 700;
    justify-content: center;
    align-content: center;
    color:#f9faf8;
    padding: 6px 8px 8px 6px;
    width: 100px;
}

.wordyz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer {
    display: flex;
    padding: 50px;
    background-color: #1f2937;
    font-family: roboto;
    font-weight: 300;
    color: #f9faf8;
    justify-content: center;
}
